/* Deep Purple: #4B0082
Lavender Purple: #8B7B8B
Light Grey: #D3D3D3
Medium Grey: #808080
Dark Grey: #666666 */

:root {
    --border-coloe: $purple
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 1rem !important;
    color: black !important;
    padding: 0px
}

.base-color {
    color: #309ccd !important
}

.font-weight-600 {
    font-weight: 600;
}

.backgroundColor {
    background-color: #D0E7FF !important;
}

.border-color {
    color: #309ccd !important;
}

.base-background {
    background-color: #309ccd;
}

.font-weight-500 {
    font-weight: 500;
}

.f-links li {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 3px solid black;
}

.f-links li:hover {
    border-bottom: 3px solid #309ccd;
}

.f-social:hover {
    color: #309ccd;
}



.language-list:hover {
    color: #309ccd !important;
    font-size: 22px;
}

.language li::marker {
    color: #309ccd;
    list-style: circle;
    font-size: 1.5erem;
    display: block;
}

.border-divider {
    border: 2px solid #309ccd !important
}

.btn-background {
    background: linear-gradient(95.64deg, #1c3d9f 0%, #3096cb 100.33%);
}


.name-generator-container {
    max-width: 612px;
    height: 207px;
    background-color: #D0E7FF;
    padding: 1rem
}

.links-color li .nav-link {
    color: #000 !important;
    border-bottom: 1px solid white;
    font-weight: 500;
}

.links-color li .nav-link:hover {
    border-bottom: 3px solid #309ccd;
    color: #309ccd !important;
    border-radius: 3px;
}

.cursor {
    cursor: pointer;
}

.hide-shadow:focus {
    color: #212529;
    background-color: #fff;
    border-color: #F10466 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 238, 242, 1) !important;
}

a {
    text-decoration: none !important;
    color: #000 !important
}

.link-color li a:hover {
    background-color: #FFE3EA;
    color: #F10466;
    font-weight: 500;
}

.tool-name-btn {
    background: linear-gradient(95.64deg, #1c3d9f 0%, #3096cb 100.33%);
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
}



.generate-delete-div {
    height: 36px;
}

.btn:hover {
    background-color: #F10466;
    color: #fff;

}

.custom-radio-style {
    border: 1px solid #3096cb
}

.custom-radio-style:checked {
    background-color: #3096cb !important;
    border: 2px solid #3096cb !important;
    box-shadow: 0 0 0 0.25rem #3096cb !important;
}


.fontSize-18 {
    font-size: 1.25rem !important;
}

.fontSize-12 {
    font-size: 12px
}




.feature-heading {
    font-size: calc(1.375rem + 1.5vw);

}



.custom-shadow {
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.25)
}

.custom-styled .nav-link {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.custom-styled .nav-link:hover {
    color: black
}

.custom-styled .nav-link.active,
.nav-pills .show>.nav-link {
    color: #F10466 !important;
    border-bottom: 3px solid #F10466;
    background-color: #ffff !important;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0px;

}


.list-styled .dropdown-item:hover {
    background-color: #D0E7FF !important;
    color: #3096cb !important
}

/* .side-ad {
    width: 664px;
    height: 97px;
    border-radius: 20px;
    background-color: #d9d9d9;
} */

.banner-btn button:hover {
    background-color: #8338ec;
    color: #fff
}

.side-ad {
    max-width: 311px;
    height: 97px;
    border-radius: 20px;
    /* background-color: #d9d9d9; */
    margin: auto;
}

.large-screen-ad {
    width: 300px;
    height: 97px;
    border-radius: 20px;
    /* background-color: #d9d9d9; */
    margin: auto
}

.petNameDiv {
    border: 2px solid #FFE3EA;
    cursor: pointer;
}

.petNameDiv:hover {
    border: 2px solid #F10466
}

#tools_search {
    position: relative;
    width: 362px;
    border-radius: 8px;
}

.input-search-field-items,
.all_tools_loading {
    display: none;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 6px #00000029;
}

#search_tools_field {
    color: var(--dark);
    background: #f3f3f3;
    padding: 8px 10px;
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

/* #search_tools_field:hover {
    background-color: #D0E7FF !important;
    color: #3096cb !important
} */

.box_loading_container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.box_loading {
    display: block;
    position: relative;
    width: 80px;
    height: 40px;
}

#searched_results {
    background-color: #fff;
    box-shadow: 0 0 6px #00000029;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-top: 10px;
    z-index: 3;
    padding: 0.5rem
}

#searched_results_ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    max-height: 350px;
    overflow-y: auto;
}

#searched_results li {
    display: block;
    color: #707070;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

#searched_results li:hover {
    background-color: #f2f2f2
}

.resultItemFocus {
    background-color: #f2f2f2
}

.cursorHide {
    caret-color: transparent
}

.cursorShow {
    caret-color: #000
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(20, 20, 20, .8);
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-out;
    z-index: 9999;
}

.cookie-banner.closed {
    transform: translateY(100%);
}

/* icons styling */
.icon {
    display: inline-block !important;
    background-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    cursor: pointer;
}

.icon-x-small {
    width: 0.6rem;
    height: 0.6rem;
}

.icon-small {
    width: 1rem;
    height: 1rem;
}

.icon-medium {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-large {
    width: 2rem;
    height: 2rem;
}

.icon-base-bg {
    background-color: #309ccd;
}
.icon-white-bg {
    background-color: #ffff;
}

.icon-download {
    mask-image: url(../images/download.svg);
    -webkit-mask-image: url(../images/download.svg);
}
 .icon-copy {
    -webkit-mask-image: url(../images/copy.svg);
    mask-image: url(../images/copy.svg);
}
.icon-facebook {
    -webkit-mask-image: url(../images/facebook.svg);
    mask-image: url(../images/facebook.svg);
}

.icon-pinterest {
    -webkit-mask-image: url(../images/pinterest.svg);
    mask-image: url(../images/pinterest.svg);
}



.icon-instagram {
    -webkit-mask-image: url(../images/instagram.svg);
    mask-image: url(../images/instagram.svg);
}

/*  */
@media (min-width:768px) {
    .banner-heading h1 {
        font-size: 4rem
    }


    .side-ad {
        width: 664px;
        height: 97px;
        border-radius: 20px;
        background-color: #d9d9d9;
    }

    .large-screen-ad {
        width: 720px;
        height: 97px;
        border-radius: 20px;
        background-color: #d9d9d9;

    }


}

@media (min-width:992px) {
    .side-ad {
        width: 300px;
        height: 250px;
        border-radius: 20px;
        background-color: #d9d9d9;
    }

    .large-screen-ad {
        background-color: #d9d9d9;
        width: 160px;
        height: 630px;

    }

    #tools_search button {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}