/* Deep Purple: #4B0082
Lavender Purple: #8B7B8B
Light Grey: #D3D3D3
Medium Grey: #808080
Dark Grey: #666666 */

:root {
    --border-coloe: $purple
}

body {
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    color: #000 !important;
    padding: 0px
}

.base-color {
    color: #F10466 !important
}

.font-weight-600 {
    font-weight: 600;
}

.backgroundColor {
    background-color: #ffeef2 !important;
}

.border-color {
    color: #F10466 !important;
}

.base-background {
    background-color: #F10466;
}

.font-weight-500 {
    font-weight: 500;
}

.f-links li:hover {
    color: #F10466
}

.f-icon {
    color: #F10466
}

.f-icon:hover {
    color: White
}


.border-divider {
    border: 1px solid #F10466 !important
}



.name-generator-container {
    max-width: 612px;
    height: 207px;
    background-color: #FFE3EA;
    padding: 1rem
}

.links-color li .nav-link {
    color: #000 !important;
    border-bottom: 1px solid white;
    font-weight: 500;
}

.links-color li .nav-link:hover {
    border-bottom: 2px solid #F10466;
    color: #F10466 !important;
    border-radius: 3px;
}

.cursor {
    cursor: pointer;
}

.hide-shadow:focus {
    color: #212529;
    background-color: #fff;
    border-color: #F10466 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 238, 242, 1) !important;
}

a {
    text-decoration: none !important;
    color: #000 !important
}

.link-color li a:hover {
    background-color: #FFE3EA;
    color: #F10466;
    font-weight: 500;
}

.tool-name-btn {
    background-color: #FFE3EA;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
}

.tool-name-btn:hover {
    background-color: #F10466;
    color: White !important;

}

.generate-delete-div {
    height: 36px;
}

.btn:hover {
    background-color: #F10466;
    color: #fff;

}

.custom-radio-style {
    border: 1px solid #F10466
}

.custom-radio-style:checked {
    background-color: #F10466 !important;
    border: 2px solid #F10466 !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 238, 242, 1) !important;
}

.gradient-bg {
    background-image: linear-gradient(115deg,
            hsl(335deg 97% 48%) 0%,
            hsl(339deg 94% 49%) 26%,
            hsl(343deg 93% 50%) 39%,
            hsl(347deg 94% 51%) 50%,
            hsl(351deg 95% 52%) 61%,
            hsl(355deg 96% 53%) 74%,
            hsl(0deg 97% 54%) 100%);
}

.fontSize-18 {
    font-size: 1.25rem;
}


.custom-radio-style[type=radio] {
    color: #FFE3EA
}


.feature-heading {
    font-size: calc(1.375rem + 1.5vw);

}


.banner-btn button {
    background-color: #8338ec;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
}

.custom-shadow {
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.25)
}

/* .side-ad {
    width: 664px;
    height: 97px;
    border-radius: 20px;
    background-color: #d9d9d9;
} */

.banner-btn button:hover {
    background-color: #8338ec;
    color: #fff
}

.side-ad {
    max-width: 311px;
    height: 97px;
    border-radius: 20px;
    /* background-color: #d9d9d9; */
    margin: auto;
}

.large-screen-ad {
    width: 300px;
    height: 97px;
    border-radius: 20px;
    /* background-color: #d9d9d9; */
    margin: auto
}
.petNameDiv{
    border: 2px solid #FFE3EA;
    cursor: pointer;
}
.petNameDiv:hover {
    border: 2px solid #F10466
}

@media (min-width:768px) {
    .banner-heading h1 {
        font-size: 4rem
    }


    .side-ad {
        width: 664px;
        height: 97px;
        border-radius: 20px;
        /* background-color: #d9d9d9; */
    }

    .large-screen-ad {
        width: 662px;
        height: 97px;
        border-radius: 20px;
        /* background-color: #d9d9d9; */

    }


}

@media (min-width:992px) {
    .side-ad {
        width: 225px;
        height: 263px;
        border-radius: 20px;
        /* background-color: #d9d9d9; */
    }

    .large-screen-ad {
        /* background-color: #d9d9d9; */
        width: 150px;
        height: 430px;

    }
}